* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}
video {
  padding: 5%;
}
iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  padding: 5%;
}
body {
  background-color: rgb(52 73 55);
  object-fit: cover;
  grid-template-columns: 1fr 1fr;
}

header {
  display: flex;
  flex-direction: column;
  margin: 3.6%;
}

figure {
  padding: 3%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.tall,
.wide {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1rem;
}

h1 {
  font-size: 4rem;
  font-family: "Varela", sans-serif;
  color: rgb(255 255 255);
}

h3 {
  font-family: "Hind", sans-serif;
  color: rgb(143 195 148);
}

ul {
  font-family: "Varela", sans-serif;
  font-size: 0.9rem;
  padding-left: 6%;
  color: rgb(175, 206, 175);
}

.tekst {
  padding-left: 10%;
  padding-bottom: 5%;
  background-color: rgb(13, 49, 20);
}
